<h3>НОВАЯ ЗАДАЧА</h3>

<hr>

<form class="new-tasks-fields">

  <mat-form-field class="task-name-field">
    <textarea [formControl]="text" matInput placeholder="Название задачи..."></textarea>
  </mat-form-field>

  <mat-form-field class="category-field">
    <mat-label>Категория</mat-label>
    <input type="text" matInput [formControl]="title" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>

<div class="buttons">
  <button class="button-nope" mat-button (click)="onNoClick()">ОТМЕНА</button>
  <button class="button-ok" mat-button (click)="sendNewTask()">ОК</button>
</div>

